/* ===== СВЕТЛАЯ ТЕМА ===== */

:root.theme-light {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decor-color: #353430;
    --link-shadow-color: #ff8dcb;
    --link-border-color: #353430;
    --link-hover-border: rgba(53, 52, 48, 0.5);
    --button-hover-border: rgba(53, 52, 48, 0.5);
    --focus-border-color: #353430;
    --border-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
    :root:not(.theme-dark):not(.theme-light) {
        --bg-color: #fff1f7;
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --title-color: #ffc2e6;
        --title-shadow-color: #ff8dcb;
        --decor-color: #353430;
        --link-shadow-color: #ff8dcb;
        --link-border-color: #353430;
        --link-hover-border: rgba(53, 52, 48, 0.5);
        --button-hover-border: rgba(53, 52, 48, 0.5);
        --focus-border-color: #353430;
        --border-color: #353430;
        --bg-image: url('../images/cover-image-light.png');
        --rec-visibility: hidden;
    }
}